{% extends 'layouts/base.html.twig' %}

{% block title 'Modification de profil' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Modifiez votre profil : <span class="text-info">#{{ user.firstname }}</span></h1>

            {{ include('profile/_formedit.html.twig', {'submitButtonText' : 'Modifier'}) }}
        </div>
    </div>

{% endblock %}
