<form id="js-delete-category-{{ category.id }}" action="{{ path('app_categories_delete', {id: category.id}) }}" method="post" style="display: none;">
    <input type="hidden" name="_token" value="{{ csrf_token(category.id) }}">
    <input type="hidden" name="_method" value="DELETE">
</form>