{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle catégorie' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Nouvelle catégorie</h1>

                <p class="text-muted border p-2 border-light rounded callout">Les catégories permettent de regrouper vos pommes par type d'utilisation. Elles sont visibles sur le site public.</p>

            {{ include('categories/_form.html.twig', {'submitButtonText' : 'Ajouter'}) }}
        </div>
    </div>

{% endblock %}
