{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle pomme' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Modifier le pomme #{{ apple.id }}</h1>

            {{ include('apples/_form.html.twig', {'submitButtonText' : 'Modifier'}) }}
        </div>
    </div>

{% endblock %}
